---

logging:
  level: INFO
  appenders:
    - type: console
      threshold: ALL
      queueSize: 128
      discardingThreshold: 0
      timeZone: system
      logFormat: "%yellow([%d{yyyy-MM-dd HH:mm:ss.SSS}]) %magenta([%thread]) %highlight(%-5level) %cyan(%logger{36}) - %msg%n%throwable"

swagger:
  resourcePackage: org.example.resources